body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    padding: 8px;
    border: 1px solid black;
}